<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

{% for hotesse in hotesses %}
    <div>
         {{ hotesse.nom }}
         {{ hotesse.ID }}
    </div>
{% endfor %}

</body>
</html>
